<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Eventos</h1>
        <table>
            <tr>
                <th ><h3>ID_EVENTOS</h3></th>
                <th ><h3>TIPO</h3></th>
                <th ><h3>FECHA</h3></th>
                <th ><h3>MATERIA_ID</h3></th>
                <th ><h3>SECCION_ID</h3></th>
                 </tr>
            <% resp.forEach(r => { %>
                <tr>
                    <td><%= r.id  %></td>
                    <td><%= r.tipo  %></td>
                    <td><%= r.fecha  %></td>
                    <td><%= r.materia_id  %></td>
                    <td><%= r.seccion_id  %></td>
                </tr>
            <% }) %>
        </table>

</body>
</html>